<div class="jumbotron landing-jumbo-one landing-img text-center">
  <h1>Simplify your feed.</h1>
  <h3>25 tweets. Period.</h3>
  <%= button_to 'signin with twitter', login_path, method: "get", class: "btn btn-signin", id:"signin" %>
</div>
<div class="container">
</div>
