<div class="row">
  <div class="col-xs-12">
    <%= form_tag user_search_path, method: 'get' do %>
        <%= text_field_tag :screen_name, params[:screen_name], placeholder: "search for users", class: "form-control search-field", required: true, pattern: "[a-zA-Z0-9]+", title: "This doesn't look like a Twitter username... Maybe try without the punctuation?" %>
        <br>
        <%= submit_tag "search for users", class: "btn btn-signin search-btn" %>
      <% end %>
  </div>
</div>
<br>
